line-length = 120

[lint]
allowed-confusables = [
  "–",
  "‘",
  "’"
]
ignore = [
  "COM812",
  "ISC001",
  "S101",
  "PLR0913"
]
select = [
  "A",
  "AIR",
  "ANN",
  "ARG",
  "ASYNC",
  "B",
  "BLE",
  "C4",
  "C90",
  "COM",
  "D",
  "DJ",
  "DTZ",
  "E",
  "EM",
  "ERA",
  "EXE",
  "F",
  "FA",
  "FBT",
  "FIX",
  "FLY",
  "FURB",
  "G",
  "I",
  "ICN",
  "INP",
  "INT",
  "ISC",
  "LOG",
  "N",
  "NPY",
  "PD",
  "PERF",
  "PGH",
  "PIE",
  "PL",
  "PT",
  "PTH",
  "PYI",
  "Q",
  "RET",
  "RSE",
  "RUF",
  "S",
  "SIM",
  "SLF",
  "SLOT",
  "T10",
  "T20",
  "TCH",
  "TD",
  "TID",
  "TRY",
  "UP",
  "W",
  "YTT",
]

[lint.extend-per-file-ignores]
"**/test_*.py" = ["D"]
"**/tests/**/*.py" = ["D"]

[lint.pydocstyle]
convention = "pep257"

[lint.flake8-builtins]
builtins-ignorelist = ["id"]
